<div class="container-fluid">
    <footer id="rodape">
        <div id="assinatura" class="container">
            <div id="assinatura_logo"><a href="http://www.senaimt.com.br" target="_blank"><img src="../images/fatec_senai_branca.png" alt="" border="0" style="max-width:200px" class="center"/></a></div>
            <div id="copyright" class="textoCopyright"> <strong>FATEC SENAI MT -  Faculdade de Tecnologia SENAI Mato Grosso</strong>&nbsp;&bull; &copy;  Copyright 2018 - Todos os direitos reservados.<br />Telefone: (65) 3612-1710 / 1712 - Central de Atendimento: 0800 777 9737</div>
            <div style="clear:both;">&nbsp;</div>
        </div>
    </footer>
</div>
